main {
    padding-top: var(--navbar-height);
}

.shusei-asayoko-map {
    width: 30vw;
    max-width: 500px;
    height: auto;
}

@media screen and (max-width: 991px) {
    .member-img {
        display: flex;
        justify-content: center;
    }
    .shusei-asayoko-map {
        width: 45vw;
        max-width: 700px;
        height: auto;
    }
}

@media screen and (max-width: 469px) {
    .shusei-asayoko-map {
        width: 60vw;
        height: auto;
    }
}

