/* Hero Section Styles */
.hero-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 90svh;
    background: url('../img/hero-background.webp') no-repeat center center/cover;
    overflow: hidden;
}
@media screen and (max-width: 960px) {
    .hero-container {
        background-size: cover;
        background-position-x: 75%;
    }
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.0);
    /* Dark overlay for contrast */
    z-index: 1;
}

.hero-content {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%); /* hero-content 自体の幅の半分だけ左方向に移動 */
    z-index: 2;
    /* Overlayより上に表示 */
    white-space: noWrap;
}

.hero-content h2 {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: normal;
    font-size: 3rem;
}
@media screen and (max-width: 1267px) {
    .hero-content h2 {
        font-size: 2.2rem;
    }
}
@media screen and (max-width: 929px) {
    .hero-content h2 {
        font-size: 1.8rem;
    }
}
@media screen and (max-width: 390px) {
    .hero-content h2 {
        font-size: 1.5rem;
    }
}

.catch-container {
    background-color: #61c0ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10svh;
}

@media screen and (max-width: 558px) {
    .hero-container {
        height: 85svh;
    }
    .catch-container {
        height: 15svh;
    }
}

.catch-text, .catch-text.str{
    color: #ff0000;
    letter-spacing: 2px;
}
.catch-text-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 1400px) {
    .catch-text {
        font-size: 1.6rem;
    }
    .catch-text.str {
        font-size: 2rem;
    }
}
@media screen and (max-width: 1399px) {
    .catch-text {
        font-size: 1.6rem;
    }
    .catch-text.str {
        font-size: 2rem;
    }
}
@media screen and (max-width: 860px) {
    .catch-text {
        font-size: 1.2rem;
    }
    .catch-text.str {
        font-size: 1.6rem;
    }
}
@media screen and (max-width: 700px) {
    .catch-text {
        font-size: 1rem;
    }
    .catch-text.str {
        font-size: 1.4rem;
    }
}
@media screen and (max-width: 700px) {
    .catch-text {
        font-size: 1rem;
    }
    .catch-text.str {
        font-size: 1.4rem;
    }
}
@media screen and (max-width: 582px) {
    .catch-text {
        font-size: 1rem;
    }
    .catch-text.str {
        font-size: 1.4rem;
    }
    .catch-text-box {
        flex-direction: column;
    }
}


.forms-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-btn {
    background-color: #d9f2ff;
    border-radius: 30px;
    padding: 1rem 5rem;
}
@media screen and (max-width: 991px) {
    .form-btn {
        padding: 1rem 2rem;
    }
}
@media screen and (max-width: 640px) {
    .form-btn {
        padding: 1rem 1rem;
    }
}
@media screen and (max-width: 402px) {
    .form-btn {
        padding: 0.5rem 0.8rem;
        border-radius: 25px;
    }
}
@media screen and (max-width: 383px) {
    .form-btn {
        padding: 0.5rem 0.1rem;
        border-radius: 25px;
    }
}

/* 例会情報 */
.info-texts-container h2, h3 {
    line-height: 45px;
}
.info-heading {
    font-weight: normal;
}
.info-heading-blue {
    font-weight: normal;
    color: #008aff;
}

.info-table {
    width: 100%;
}
.info-table th {
    width: 15%;
    font-weight: normal;
    text-align: left;
    vertical-align: top;
}
@media screen and (min-width: 1400px) {
    .info-items-container {
        letter-spacing: 5px;
    }
    .info-heading {
        font-size: 1.6rem;
    }
    .info-heading-blue {
        font-size: 1.6rem;
    }
    .info-table {
        font-size: 1.6rem;
    }
}
@media screen and (max-width: 1399px) {
    .info-items-container {
        letter-spacing: 5px;
    }
    .info-heading {
        font-size: 1.6rem;
    }
    .info-heading-blue {
        font-size: 1.6rem;
    }
    .info-table {
        font-size: 1.6rem;
    }
}
@media screen and (max-width: 1199px) {
    .info-items-container {
        letter-spacing: 5px;
    }
    .info-heading {
        font-size: 1.5rem;
    }
    .info-heading-blue {
        font-size: 1.5rem;
    }
    .info-table {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 991px) {
    .info-items-container {
        letter-spacing: 3px;
    }
    .info-heading {
        font-size: 1.2rem;
    }
    .info-heading-blue {
        font-size: 1.2rem;
    }
    .info-table {
        font-size: 1.2rem;
    }
    .long-td {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 767px) {
    .info-table th {
        width: 20%;
    }

    .info-items-container {
        letter-spacing: 2px;
    }
    .info-heading {
        font-size: 1.2rem;
    }
    .info-heading-blue {
        font-size: 1.2rem;
    }
    .info-table {
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 469px) {
    .info-table th {
        width: 20%;
    }

    .info-items-container {
        letter-spacing: 0;
    }

    .info-table {
        font-size: 0.9rem;
    }
}
@media screen and (max-width: 377px) {
    .info-table th {
        width: 20%;
    }

    .info-table {
        font-size: 0.9rem;
    }
}

.info-img {
    width: 300px;
}

/* アコーディオン：各アイテム */
.accordion-item {
    border-bottom: 1px solid #333;
    overflow: hidden;
}

.accordion-item:first-of-type {
    border-top: 1px solid #333;
}

/* アコーディオン：ヘッダー */
.accordion-header {
    background-color: #fff;
    padding: 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    border: none;
}

.accordion-header:hover {
    background-color: #8de4ff;
}

/* アイコンのスタイル */
.accordion-icon {
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

/* 初期状態（＋） */
.accordion-header .accordion-icon::before {
    content: '\002b'; /* "+" */
    display: inline-block;
}
/* アクティブ時（－） */
.accordion-header.active .accordion-icon::before {
    content: '\2212'; /* "-" */
}

/* コンテンツ */
.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: #fff;
    padding: 0 15px;
}

.accordion-content p {
    margin: 15px 0;
    line-height: 1.6;
}

/* アクティブ時のスタイル */

.accordion-content.active {
    max-height: 500px; /* 十分な高さを指定 */
    padding: 15px;
}
